/*THEME*/
.blazored-modal-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.blazored-modal-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  backdrop-filter: saturate(120%) blur(50px);
  -webkit-backdrop-filter: saturate(120%) blur(50px);
  top: 0;
  left: 0; }

.blazored-modal {
  display: flex;
  z-index: 1002;
  flex-direction: column;
  background-color: #182127;
  border-radius: 4px;
  border: 2px solid #00A2FF;
  padding: 1.5rem;
  box-shadow: 0 3px 10px #141D25 !important;
  -moz-box-shadow: 0 3px 10px #141D25 !important;
  -webkit-box-shadow: 0 3px 10px #141D25 !important;
  color: #f3f3f3 !important; }

.blazored-modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 2rem 0; }

.blazored-modal-title {
  margin-bottom: 0; }

.blazored-modal-close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f3f3f3;
  transition: .1s linear all !important;
  -o-transition: .1s linear all !important;
  -webkit-transition: .1s linear all !important;
  -moz-transition: .1s linear all !important; }
  .blazored-modal-close:hover {
    color: #00A2FF; }

.blazored-modal-center {
  align-items: center;
  justify-content: center; }

.blazored-modal-topleft .blazored-modal {
  position: absolute;
  top: 32px;
  left: 32px; }

.blazored-modal-topright .blazored-modal {
  position: absolute;
  top: 32px;
  right: 32px; }

.blazored-modal-bottomleft .blazored-modal {
  position: absolute;
  bottom: 32px;
  left: 32px; }

.blazored-modal-bottomright .blazored-modal {
  position: absolute;
  bottom: 32px;
  right: 32px; }
