@attribute [Authorize]

@if (!coursesExist)
{
    <div class="alert alert-info" role="alert">
        <strong>You don't have any course for now.</strong> Create one and add documents in it for your students!
    </div>
}

<AddCourseForm OnSubmit="Refresh" />
<CoursesHistory Refresh="@refresh" CoursesExist="CoursesExist" />

@code {
    private string validationMessage = null;
    private bool refresh = false;
    private bool coursesExist = false;

    void Refresh() => refresh = !refresh;

    void CoursesExist(bool b) => coursesExist = b;
}