@page "/courses"
@page "/courses/{CourseSlug}"

@inject ApplicationUserService ApplicationUserService

<h1>Courses</h1>

@if (!String.IsNullOrEmpty(CourseSlug))
{
    <CourseDetails Slug="@CourseSlug" />
}
else
{
    if (userClaim.Identity.IsAuthenticated)
    {
        <CourseAdministration />
    }
    else
    { <p>Not authorized</p>}
}

@code {
    [Parameter]
    public string CourseSlug { get; set; }

    System.Security.Claims.ClaimsPrincipal userClaim;

    protected override async void OnInitialized()
    {
        userClaim = await ApplicationUserService.GetUserClaim();
    }
}