@inject VideoconferenceService VideoconferenceService


@if(Videoconference == null)
{
    <p>There is no such thing</p>
}
else
{
    if(!Videoconference.Ongoing)
    {
        <p>The videoconference is over or has not occured yet.</p>
    }
    else
    {
        <Room />
    }
}

@code {
    [Parameter]
    public int VideoconferenceId { get; set; }
    private Videoconference Videoconference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Videoconference = await VideoconferenceService.ReadAsync(VideoconferenceId);
    }
}