@namespace WithTeachers.Pages.Scheduler
@using WithTeachers.Data

@foreach (DateTime day in Week)
{
    <th>@day.DayOfWeek <span class="small">@day.Day @day.ToString("MMMM") @day.Year</span></th>
}

@code {
    [Parameter]
    public Week Week { get; set; }
}
