@page "/scheduler"

@namespace WithTeachers.Pages.Scheduler
@using WithTeachers.Data
@inject ApplicationUserService ApplicationUserService
@attribute [Authorize]

<h3>Scheduler</h3>

<section class="scheduler">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Monday _</th>
                <th>Tuesday _</th>
                <th>Wednesday _</th>
                <th>Thursday _</th>
                <th>Friday _</th>
                <th>Saturday _</th>
                <th>Sunday _</th>
            </tr>
        </thead>
        <tbody>
            @{
                int hour = -1;
            }
            @for (int i = 0; i < 48; i++)
            {
                hour = i % 2 == 0 ? i / 2 : -1;
                <tr>
                    @if (hour != -1)
                    {
                        <th rowspan="2">@(hour != -1 ? hour < 13 ? hour + ":00 AM" : hour % 12 + ":00 PM" : "")</th>
                    }
                    @for (int j = 0; j < 7; j++)
                    {
                        <td class="@(hour != -1 ? "dash" : "nolineTop")"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>

@code {

}