<h4 class="form-title small"><span class="oi oi-plus" aria-hidden="true"></span> Join the videoconference</h4>
<EditForm class="form-section" Model="@model" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />

    <div class="row add-class">
        <div class="col-12 col-md-5">
            <div class="input-group mb-2">
                <label for="userName" class="col-12">Your name:</label>
                <InputText id="userName" placeholder="write here..." class="form-control" @bind-Value="model.UserName" />
            </div>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn mx-auto offset-lg-1">Join</button>
    </div>
</EditForm>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public string RoomId { get; set; }

    AnonymousUser model = new AnonymousUser();

    private async Task HandleValidSubmit()
    {
        ConfirmEdit();
        // Notifier
        //await OnSubmit.InvokeAsync("The course <strong>" + model.Course.Title + "</strong> has been added to your courses!");
    }

    private void ConfirmEdit() => BlazoredModal.Close(ModalResult.Ok($"Edit confirmed"));
}