@page "/classes"
@using WithTeachers.Data
@attribute [Authorize]

<h1>Classes</h1>

<button class="btn btn-primary">2020</button><button class="btn btn-primary">2019</button><button class="btn btn-primary">2018</button>

<section>
    <h3>Groups</h3>
</section>

@code {

}
