@page "/"
@using WithTeachers.Data
@inject IJSRuntime JSRuntime
<h1>HI</h1>

@* TEST *@
<div id="container">
    <h1>VIDEOCONFERENCE TEST
    </h1>

    <video id="localVideo" playsinline autoplay muted></video>
    <video id="remoteVideo" playsinline autoplay></video>

    <div>
        <button id="startButton">Start</button>
        <button id="callButton">Call</button>
        <button id="upgradeButton">Turn on video</button>
        <button id="hangupButton">Hang Up</button>
    </div>

</div>

@* END TEST *@


@code {
    private string testValue = "click";
    string message = "";

    private async Task Test()
    {
        await JSRuntime.InvokeVoidAsync("init");
    }



    private async Task Start()
    {
        await JSRuntime.InvokeVoidAsync("start");
    }
    private async Task Call()
    {
        await JSRuntime.InvokeVoidAsync("call");
    }
    private async Task Upgrade()
    {
        await JSRuntime.InvokeVoidAsync("upgrade");
    }
    private async Task HangUp()
    {
        await JSRuntime.InvokeVoidAsync("hangup");
    }




    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("attachHandlers");
    }
}