@page "/videoconference"
@page "/{slug}"

@attribute [Authorize]

<h1>Videoconference @Slug</h1>

@*<div class="alert alert-danger">There is already a videoconference launched. <button class="btn btn-primary"><span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Go to currently active videoconference</button></div>*@

    <div class="card-deck col-lg-8 mx-auto py-5">
        <div class="card">
            <img src="img/website/meeting.svg" class="card-img-top mx-auto" alt="New meeting">
            <div class="card-body">
                <h5 class="card-title">Start your videoconference</h5>
                <p class="card-text">Send your students a link to meet with you.</p>
                <button class="btn stretched-link">Start</button>
            </div>
        </div>
        <div class="card">
            <img src="img/website/schedule.svg" class="card-img-top mx-auto" alt="Schedule a meeting">
            <div class="card-body">
                <h5 class="card-title">Schedule a meeting</h5>
                <p class="card-text">Set the date and prepare your meeting.</p>
                <button class="btn stretched-link">Schedule</button>
            </div>
        </div>
    </div>

@*<section>
    <h3>Planified</h3>
</section>

<section>
    <h3>Previous</h3>
</section>*@

@code {
    [Parameter]
    public string Slug { get; set; }
}